Package: enigma2-plugin-settings-jungle.astra
Version: 15-10-2025
Architecture: all
Maintainer: jungle-team
Depends: enigma2-plugin-systemplugins-serviceapp
Description: Lista canales Astra 19.2 Jungle-team
